<div class="p-4 grid overflow-hidden">

    <div>
        <div [class.invisible]="!calledTicket" class="border-b-2 border-black bg-amber-300">
            <div class="flex *:p-3 text-3xl font-bold relative">
                <div class="w-1/2 text-end">{{calledTicket?.code+" - "+calledTicket?.number}}</div>
                <div class="w-1/2 text-start bg-amber-400">{{calledTicket?.user||" ."}}</div>
                <div class="bg-amber-500 opacity-50 absolute top-0 start-0 w-full h-full animate-ping"></div>
            </div>
        </div>
        <div class="divide-black divide-y-2 bg-gray-200">
            <div class="flex *:w-1/2 *:p-3 text-2xl" *ngFor="let ticket of list">
                <div class="text-end">{{ticket.code+" - "+ticket.number}}</div>
                <div class="text-start bg-gray-300">{{ticket.user||" ."}}</div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>