<div class="flex justify-center mt-20">
    <div  class=" bg-white rounded-md shadow-md w-full max-w-96">
        

    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" *ngIf="phase==0" class="m-4">
        <div class="text-2xl text-center my-2">
          Solicitar Token de Autenticación
        </div>
        <div >
          <label for="emailInput">Email de la cuenta</label>
          <input class="p-2 w-full text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-current-2 focus:border-current-1"
          type="text" formControlName="email" id="emailInput" placeholder=""
                 [class.border-red-500]="(emailForm.controls['email'].touched || emailForm.controls['email'].dirty) && emailForm.controls['email'].invalid">
    
          <div *ngIf="(emailForm.controls['email'].touched || emailForm.controls['email'].dirty)" class="italic">
            <div class="text-red-500" *ngIf="emailForm.controls['email'].hasError('email')">
              El email es invalido.
            </div>
    <!--        <div class="text-danger" style="font-size: .875em" *ngIf="tips.okEmail &&-->
    <!--        !emailForm.controls['email'].invalid">-->
    <!--          Email no existe-->
    <!--        </div>-->
          </div>
    
        </div>
    
        <div class="m-2 rounded-md bg-gray-100 p-2">
          Se le enviara un "token" al email seleccionado, con el cual podra restablecer su contraseña. El token dura 5 minutos.
        </div>
        <div class="flex justify-center">
          <button
          class="bg-current rounded-md text-white p-2 transition-all enabled:hover:scale-105 enabled:hover:rounded-md enabled:hover:brightness-110 enabled:cursor-pointer"
            type="submit"[disabled]="emailForm.invalid || loading">        
            Enviar
          </button>
        </div>
    
      </form>
      
      <form [formGroup]="form" (ngSubmit)="saveSubmit()" *ngIf="phase==1"class="m-4">
        <div class="text-2xl text-center my-2">
            Cambio de contraseña
        </div>
        <div >
          <label for="tokenInput">Token</label>
          <input class="p-2 w-full text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-current-2 focus:border-current-1"
          type="text" formControlName="token" id="tokenInput" placeholder=""
                 [class.border-red-500]="(form.controls['token'].touched || form.controls['token'].dirty)
          && form.controls['token'].invalid">
        </div>
    
        <div >
          <label for="passwordInput">Contraseña</label>
          <input class="p-2 w-full text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-current-2 focus:border-current-1"
          type="password" formControlName="password" id="passwordInput" placeholder=""
                 [class.border-red-500]="(form.controls['password'].touched || form.controls['password'].dirty)
          && form.controls['password'].invalid">
    
          <div *ngIf="(form.controls['password'].touched || form.controls['password'].dirty)" class="italic text-red-500">
            <div *ngIf="form.controls['password'].valid" class="mt-1"
                 [ngSwitch]="tips.passwordPoints">
                 <span *ngSwitchDefault  class="text-green-500">· Contraseña Fuerte</span>
                 <span *ngSwitchCase="2" class="text-yellow-500">· Contraseña Normal</span>
                 <span *ngSwitchCase="1" >· Contraseña Debil (Mezcla mayúsculas, minúsculas, números y caracteres especiales)</span>
                 <span *ngSwitchCase="0" class="text-black">· Verificando...</span>
            </div>
            <div *ngIf="form.controls['password'].hasError('maxlength')">
              La contraseña no puede superar los 50 caracteres.
            </div>
            <div *ngIf="form.controls['password'].hasError('minlength')">
              La contraseña no puede tener menos los 8 caracteres.
            </div>
          </div>
        </div>
    
        <div >
          <label for="passwordInput2">Repetir Contraseña</label>
          <input class="p-2 w-full text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-current-2 focus:border-current-1"
          type="password" formControlName="password2" id="passwordInput2" placeholder=""
                 [class.border-red-500]="(form.controls['password2'].touched || form.controls['password2'].dirty)
          && form.controls['password2'].invalid">
          <div *ngIf="(form.controls['password2'].touched || form.controls['password2'].dirty)" class="italic">
            <div class="text-red-500" *ngIf="form.hasError('notSame')">
              La contraseña debe coincidir.
            </div>
          </div>
        </div>
    
    
        <div class="flex justify-between gap-2 mt-2">
          <button (click)="back()"
          class="bg-orange-50 border border-current-2 rounded-md text-blue-500 p-2 transition-all hover:scale-105 hover:rounded-md hover:brightness-110 cursor-pointer"
          type="button">
            Volver
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid || loading"
          class="bg-current rounded-md text-white p-2 transition-all enabled:hover:scale-105 enabled:hover:rounded-md enabled:hover:brightness-110 enabled:cursor-pointer"
          type="submit">
            Guardar Contraseña
          </button>
        </div>
      </form>
    </div>
  </div>