{% extends 'index.html' %}

{% load static %}

{% block content %}
<div class="container container-center">
    <div class="flex turn-choose-list">
        {% for option in options %}
        <button class="turn-button {% cycle 'bg-blue' 'bg-red' 'bg-green' 'bg-violet' %}" 
        data-code="{{option.code}}" data-name="{{option.name}}">
            {{option.code}}<br>
            <div>{{option.name}}</div>
        </button>
        {%endfor%}
    </div>
</div>

<div class="popup" id="choose-popup">
    <h2 class="pop-title" id="choose-title">
        ¿Quieres programar un turno para ?
    </h2>
    <div class="flex">
        <button class="big-button yes-button">
            SI
        </button>
        <button class="big-button no-button">
            NO
        </button>
    </div>
</div>

<div class="popup" id="state-popup">
    <h2 class="pop-title" id="state-title">
        Parace que hubo un error, contacte con servicio tecnico.
    </h2>
    <div class="flex">
        <button class="big-button no-button">
            OK
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.popup').hide();
        let codeSelected = ""

        $(".turn-button").click(function () {
            if(codeSelected) return

            codeSelected = $(this).attr("data-code")
            $('#choose-popup').show();
            $('#choose-title').text(`¿Quieres programar un turno para ${$(this).attr("data-name")}?`);
        });

        $(".yes-button").click(function () {
            const url = window.location.origin + '/api/addturn/';
            $.post(url,
                {
                    code: codeSelected,
                },
                function (data, status) {
                    $('#state-title').text(`Turno para ${$(this).attr("data-name")} programado`);
                }).fail(function () {
                    $('#state-title').text(`Error Inesperado, Se imprimira el ticket igualmente`);
                }).always(function() {
                    $('#choose-popup').hide();
                    $('#state-popup').show();
                    codeSelected = ""
                });
        });

        $(".no-button").click(function () {
            codeSelected = ""
            console.log($(this).parent().parent());
            $(this).parent().parent().hide();
        });

    });
    // {% comment %} const buttons = document.querySelectorAll('.turn-button');
    // const title = document.querySelector('#pop-title');
    // const popup = document.querySelector('#popup');
    // let codeSelected = ""
    // function open(name, code) {
    //     title.innerText = `¿Quieres programar un turno para ${name}? `;
    //     codeSelected = code
    //     popup.class.append()
    // }

    // function sayYes() {
    //     // Creating Our XMLHttpRequest object 
    //     let xhr = new XMLHttpRequest();

    //     // Making our connection  
    //     let url = window.location.origin + '/api/addturn/';
    //     xhr.open("POST", url, true);

    //     // function execute after request is successful 
    //     xhr.onreadystatechange = function () {
    //         if (this.readyState == 4 && this.status == 200) {
    //             console.log(this.responseText);
    //         }
    //     }
    //     // Sending our request 
    //     xhr.send();
    // }
    // function sayNo() {

    // } {% endcomment %}

    // {% comment %} buttons.forEach((button, i) => {
    //     button.addEventListener('click', () => {
    //         open(button.getAttribute("data-code"));
    //     })
    // }) {% endcomment %}
</script>
{% endblock %}