<div class="bg-white">

  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <a class="ms-1 text-xl text-blue-500 p-1.5" href="#" onClick="window.location.reload();">Turnos</a>

      <div class="flex md:gap-x-8  gap-x-4
      *:text-sm *:font-semibold *:leading-6 *:text-gray-900 *:hover:underline *:decoration-4 *:underline-offset-4">

        <a [routerLink]="['/display']">Mostrar</a>


        <ng-container *ngIf="this.service.user">
          <a [routerLink]="['/manage']">Gestionar</a>

          <a >{{"@"+service.user.username}}</a>

          <button (click)="logout()">Salir
          </button>

        </ng-container>
        <ng-container *ngIf="!this.service.user">

          <a [routerLink]="['/login']">Iniciar Sesión </a>
        </ng-container>
      </div>
    </nav>

  </header>

  <div class="relative isolate pt-24 px-6 lg:px-8 min-h-screen">
    <router-outlet></router-outlet>


    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#80b3ff] to-[#5cd0d8] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-50rem)] -z-10 transform-gpu overflow-hidden blur-3xl " aria-hidden="true">
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#80d7ff] to-[#5cbfd8] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>
  </div>
</div>