<div class="container mx-auto mb-4 mt-10 p-1">
  <form class="mb-4 flex gap-2 *:bg-blue-500 *:text-white">
    Ordenar por:
    <select name="order" [(ngModel)]="order" class="p-1 rounded" (ngModelChange)="onSearchChange()" >
      <option value="date">Fecha</option>
      <option value="line">Codigo</option>
    </select>
    <select name="dir" [(ngModel)]="dir" class="p-1 rounded" (ngModelChange)="onSearchChange()" >
      <option value="asc" >Ascendente</option>
      <option value="desc">Descendente</option>
    </select>
  </form>
  <table class=" w-full border-collapse border border-gray-300">
    <thead>
      <tr class="bg-gray-200">
        <th class="border px-4 py-2 w-min">Codigo</th>
        <th class="border px-4 py-2 w-min">Numero</th>
        <th class="border px-4 py-2 max-w-1/6">Operador</th>
        <th class="border px-4 py-2">Fecha</th>
      </tr>
    </thead>
    <tbody class="text-nowrap">
      <tr *ngFor="let ticket of list" >
        <td class="border px-4 py-2 text-end">{{ ticket.code }}</td>
        <td class="border px-4 py-2">{{ ticket.number }}</td>
        <td class="border px-4 py-2 ">{{ ticket.user || "--Esperando llamada--" }}</td>
        <td class="border px-4 py-2">{{ ticket.date | date:"dd/MM/YYYY HH:mm:ss"}}</td>
      </tr>
    </tbody>
  </table>

  <div class="flex justify-between">
    <button class="bg-gray-200 enabled:bg-blue-500 enabled:hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="previousPage()" [disabled]="!previous">Anterior</button>
    <span class="mx-2">Página {{ page }} de {{ num_pages }}</span>
    <button class="bg-gray-200 enabled:bg-blue-500 enabled:hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="nextPage()" [disabled]="!next">Siguiente</button>
  </div>
</div>
