<form class="flex flex-col gap-4 p-4 mx-auto max-w-md" (ngSubmit)="addConsult()">
  <label for="patient">Nombre del Paciente</label>
  <input type="text" [(ngModel)]="consult.patient" name="patient" placeholder="Paciente" class="p-2 border border-gray-300 rounded">
  <label for="patient">Consultorio</label>
  <input type="text" [(ngModel)]="consult.room" name="room" placeholder="Consultorio/oficina" class="p-2 border border-gray-300 rounded">
  <button class="bg-cyan-500 hover:brightness-75 rounded-2xl p-2" type="submit">Agregar</button>
</form>