<div class="flex h-[calc(100vh-100px)] justify-center gap-2">
    <div class="bg-gray-300 p-1 rounded-2xl w-[20svw] relative" *ngFor="let line of list; index as i"
    [style.z-index]="10-i">
        <div class="p-5 text-center rounded-2xl"
            [class]="{'bg-blue-300':i%3==0,'bg-amber-300':i%3==1,'bg-green-400':i%3==2}">
            <div class="text-8xl text-nowrap">{{line.code}}</div>
            <div class="text-4xl font-bold overflow-hidden text-nowrap">{{line.name}}</div>
        </div>

        <div class="text-center text-5xl bg-yellow-300 p-1 rounded-md mt-1 mx-2 relative"
            [hidden]="!line.selectedTicket">
            <div>{{line.code}}{{line.selectedTicket?.number}}</div>
            <div class="absolute top-0 left-0 w-full animate-ping  bg-yellow-300 p-1 rounded-md z-50">{{line.code}}{{line.selectedTicket?.number}}</div>
        </div>

        <div class="text-center text-4xl bg-gray-400 p-1 rounded-md mt-1 mx-2 relative hover:brightness-75 hover:*:first:block"
            *ngFor="let ticket of line.tickets; index as j" (click)="selectTicket($event,ticket)">
            <span class="absolute top-0 left-full overflow-hidden hidden">
                <button class="bg-red-400 text-2xl cursor-pointer p-1 px-2 rounded-md hover:brightness-75" (click)="deleteTicket(ticket.id)">X</button>
            </span>
            {{line.code}}{{ticket.number}}
        </div>

        <div class="absolute text-2xl bottom-0 left-0 space-y-1 p-2 w-full">
            <button class="p-3 text-center rounded-2xl hover:brightness-75 w-full"
                [class]="{'bg-blue-300':i%3==0,'bg-amber-300':i%3==1,'bg-green-400':i%3==2}"
                (click)="callticket(line)" [hidden]="line.tickets.length<=0">
                Siguiente turno→
            </button>


            <button class="p-3 text-center rounded-2xl hover:brightness-75 w-full"
                [class]="{'bg-blue-300':i%3==0,'bg-amber-300':i%3==1,'bg-green-400':i%3==2}"
                (click)="addticket(line.code)">
                + Agregar turno
            </button>

        </div>
    </div>
</div>