<div class="my-4 text-center text-4xl">Gestión de Turnos</div>
<div class="px-4 sm:px-8">
    <div class="mb-2 bg-gray-200 flex items-center
         divide-black divide-x-2 rounded-xl text-2xl overflow-hidden">
        <button class=" bg-amber-300 p-4 px-4 enabled:hover:brightness-75" *ngIf="list[0]"
        (click)="callticket()">Siguiente turno→ <span class="font-bold">{{list[0].code+"-"+list[0].number}}</span></button>
        <span class="grow text-center">Turnos pendientes: <span class="font-bold">{{list.length}}</span></span>
    </div>
    <div [class.invisible]="!calledTicket" class="flex justify-center mb-2">
        <span class="relative text-4xl p-2 rounded-xl bg-amber-300 text-center ">
            {{calledTicket?.code+" - "+calledTicket?.number}}
            <span class="absolute top-0 start-0 p-2 rounded-xl bg-amber-300 text-center animate-ping">
                {{calledTicket?.code+" - "+calledTicket?.number}}
            </span>
        </span>
    </div>
    <div class="divide-black divide-y-2 bg-gray-200">
        <div class="text-2xl hover:bg-gray-400 relative hover:*:last:inline select-bone"
        [class]="{'bg-gray-300':ticket.selected}" *ngFor="let ticket of list" >
            <div class="p-2 " (click)="selectTicket($event,ticket)"
            [class]="{'font-bold':ticket.selected}">
                <span [hidden]="!ticket.selected">✓</span>
                {{ticket.code+" - "+ticket.number}}
            </div>
            <button class="absolute top-0 end-0 p-2 bg-red-500 hidden hover:brightness-75" 
            (click)="deleteTicket(ticket.id)" >X</button>
        </div>
    </div>
</div>